<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List of Collections</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />


</head>

<body>
  <div class ="username-container">
    <img src="/uploads/user.png" alt="User">
    <p>Welcome, <%= username %></p>
</div>
  <div style="display: flex; align-items: flex-start; gap: 10px;">
    
    <form action="/notes/NoteCollections" method="GET" style="display:inline">
      <button class="go-back-button" type="submit">Home</button>
    </form>


    <button class="go-back-button" onclick="goBack()">Go back</button>
  
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
  <div class="container">
    <div class="text-center">
      <h1>List of Collections</h1>

      <% if (collections.length===0) { %>
        <p>No collections available.</p>
        <% } else { %>
          <ul class="list-group" type="none">
            <% collections.forEach(collection=> { %>
              <li class="list-group-item">
                <div class="note-item">
                  <a href="/notes/collections/notesInCollection/<%= collection.id %>"><strong><%= collection.name %></strong></a>
                  <p><strong>&nbsp;@<%= collection.username %></strong></p>
                </div>
              
                <div class="button-group">

                  <form action="/notes/collections/showNotes/<%= collection.id %>" method="GET" class="button-form">
                    <button type="submit" class="edit-button">Add note</button>
                  </form>
                  <form action="/notes/collections/delete/<%= collection.id %>" method="POST" class="button-form">
                    <button type="submit" class="delete-button">Delete</button>
                  </form>
                  <form action="/notes/collections/shared/addUserToShareWith/<%= collection.id %>" method="GET" class="button-form">
                    <button id="share-button" style="<%= shareBtnVisible ? '' : 'display: none;' %>" type="submit" class="share-button">Share</button>
                </form>
                </div>
              </li>
              
              <% }); %>
          </ul>
          <% } %>
            <form action="/notes/collections/addCollection" method="GET">
              <button class="btn-primary" type="submit">Add Collection</button>
            </form>
            <form action="/users/logout" method="GET" style="display: inline">
              <button class="delete-button" type="submit">Log Out</button>
            </form>
           
    </div>
  </div>

</script>
<script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>
  