<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List of Notes</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />


</head>

<body>

  <div class ="username-container">
    <img src="/uploads/user.png" alt="User">
    <p>Welcome, <%= username %></p>
</div>

  <div style="display: flex; align-items: flex-start; gap: 10px;">
    <!-- Botón de Home -->
    <form action="/notes/NoteCollections" method="GET" style="display:inline">
      <button class="go-home-button" type="submit">Home</button>
    </form>

    <!-- Botón de retroceso -->
    <button class="go-back-button" onclick="goBack()">Go back</button>
  
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
  <div class="container">
    <div class="text-center">
      <h1>List of Notes</h1>

      <% if (notes.length===0) { %>
        <p>No notes available.</p>
        <% } else { %>
          <ul class="list-group" type="none">
            <% notes.forEach(note=> { %>
              <li class="list-group-item">
                <div class="note-item">
                  <a href="/notes/noteInfo/<%= note.id %>"><strong><%= note.title %></strong></a>
                  <p><strong>&nbsp;@<%= note.username %></strong></p>
                </div>
              
                <div class="button-group">
                  <input class="checkbox" type="checkbox" id="checkbox_<%= note.id %>" onchange="updateCheckboxState('<%= note.id %>')" <% if (note.completed) { %> checked <% } %>>

                  <form action="/notes/edit/<%= note.id %>" method="GET" class="button-form">
                    <button type="submit" class="edit-button">Edit</button>
                  </form>
                  <form action="/notes/delete/<%= note.id %>" method="POST" class="button-form">
                    <button type="submit" class="delete-button">Delete</button>
                  </form>
                  <form action="/notes/shared/addUserToShareWith/<%= note.id %>" method="GET" class="button-form">
                    <button type="submit" class="share-button">Share</button>
                </form>
                </div>
              </li>
              
              <% }); %>
          </ul>
          <% } %>
            <form action="/notes/new" method="GET">
              <button class="btn-primary" type="submit">Add Note</button>
            </form>
            <form action="/users/logout" method="GET" style="display: inline">
              <button class="delete-button" type="submit">Log Out</button>
            </form>
          
            
    </div>
  </div>




</script>
  <script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>
  <script>

    function updateCheckboxState(noteId) {
        const checkbox = document.getElementById('checkbox_' + noteId);
        localStorage.setItem('checkbox_state_' + noteId, checkbox.checked);
    }

    window.onload = function() {
        <% notes.forEach(note => { %>
            const checkbox<%= note.id %> = document.getElementById('checkbox_<%= note.id %>');
            const storedState<%= note.id %> = localStorage.getItem('checkbox_state_<%= note.id %>');
            if (storedState<%= note.id %> !== null) {
                checkbox<%= note.id %>.checked = (storedState<%= note.id %> === 'true');
            }
        <% }); %>
    };
  </script>

</body>

</html>